.header-promo {
  width: 100%;
  display: flex;
  background: #191B1D;
  color: #FFFFFF;
  padding: 12px 112px;
  justify-content: end;
  align-items: center;
  gap: 30px;
}
.header-promo__text {
  opacity: 0.5;
  line-height: 21px;
}
.header-promo .subscribe-btn {
  background: #FFFFFF;
  padding: 9px 16px 9px 24px;
  display: flex;
  gap: 7px;
  align-items: center;
  border-radius: 6px;
}
.header-promo .subscribe-btn__text {
  color: #2764E0;
  font-size: 14px;
}
.header-promo .subscribe-btn__sale {
  height: 20px;
  font-size: 12px;
  border-radius: 4px;
  background: #DD0858;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
}

main .autosearch {
  background: #F2F2F4;
}
main .autosearch__container {
  padding: 24px 112px 40px 112px;
}
main .autosearch__title {
  margin-bottom: 12px;
}
main .autosearch__subtitle {
  margin-bottom: 24px;
}
main .autosearch__body .search-request {
  background: #000;
  color: #FFFFFF;
  padding: 53px 168px 50px 48px;
}